In [4]:
# Dependencies & set up
import pandas as pd
import numpy as np

In [8]:
# Getting fata from csv files
d1 = 'blockchain_11-05-2021.csv'
d2 = 'blockchain_11-06-2021.csv'
d3 = 'blockchain_11-07-2021.csv'
d4 = 'blockchain_11-08-2021.csv'
d5 = 'blockchain_11-09-2021.csv'
d6 = 'blockchain_11-10-2021.csv'
d7 = 'blockchain_11-11-2021.csv'
d8 = 'blockchain_11-12-2021.csv'
d9 = 'blockchain_11-13-2021.csv'
d10 = 'blockchain_11-15-2021.csv'
d11 = 'blockchain_11-16-2021.csv'
d12 = 'blockchain_11-17-2021.csv'
d13 = 'blockchain_11-18-2021.csv'
d14 = 'blockchain_11-19-2021.csv'
d15 = 'blockchain_11-20-2021.csv'
d16 = 'blockchain_11-21-2021.csv'
d17 = 'blockchain_11-22-2021.csv'
d18 = 'blockchain_11-23-2021.csv'
d19 = 'blockchain_11-25-2021.csv'
d20 = 'blockchain_11-26-2021.csv'
d21 = 'blockchain_11-29-2021.csv'
d22 = 'blockchain_11-30-2021.csv'
d23 = 'blockchain_12-01-2021.csv'
d24 = 'blockchain_12-01-2021.csv'
d25 = 'blockchain_12-02-2021.csv'
d26 = 'blockchain_12-04-2021.csv'
d27 = 'blockchain_12-05-2021.csv'
d28 = 'blockchain_12-06-2021.csv'
d29 = 'blockchain_12-07-2021.csv'
d30 = 'blockchain_12-08-2021.csv'
d31 = 'blockchain_12-09-2021.csv'
d32 = 'blockchain_12-10-2021.csv'
d33 = 'blockchain_12-11-2021.csv'
d34 = 'blockchain_12-12-2021.csv'
d35 = 'blockchain_12-13-2021.csv'
d36 = 'blockchain_12-14-2021.csv'
d37 = 'blockchain_12-15-2021.csv'
d38 = 'blockchain_12-16-2021.csv'
d39 = 'blockchain_12-17-2021.csv'
d40 = 'blockchain_12-18-2021.csv'
d41 = 'blockchain_12-19-2021.csv'
d42 = 'blockchain_12-20-2021.csv'
d43 = 'blockchain_12-21-2021.csv'
d44 = 'blockchain_12-22-2021.csv'
d45 = 'blockchain_12-23-2021.csv'
d46 = 'blockchain_12-26-2021.csv'
d47 = 'blockchain_12-27-2021.csv'
d48 = 'blockchain_12-28-2021.csv'
d49 = 'blockchain_12-29-2021.csv'
d50 = 'blockchain_12-30-2021.csv'
d51 = 'blockchain_12-31-2021.csv'
d52 = 'blockchain_01-01-2022.csv'
d53 = 'blockchain_01-03-2022.csv'

In [9]:
# Creating a list based on csv
bdata = [d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15,d16,d17,d18,d19,d20,d21,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31,d32,d33,d34,d35,d36,d37,d38,d39,d40,d41,d42,d43,d44,d45,d46,d47,d48,d49,d50,d51,d52,d53]

In [10]:
# Creating empty list
b_data = []

# Loop for appending csv into a data frame
for file in bdata:
    b_data.append(pd.read_csv(file))

# Concat all dataframes
bdata = pd.concat(b_data, sort=False)
bdata

,symbol,price_24h,volume_24h,last_trade_price,difference,date
0,XLM-EUR,0.318070,57185.591182,0.311000,0.0,11-05-2021
1,ALGO-BTC,0.000031,223.638922,0.000030,0.0,11-05-2021
2,EFI-USDT,1.480000,3414.004740,1.499000,0.0,11-05-2021
3,XLM-BTC,0.000000,0.000000,0.000006,0.0,11-05-2021
4,USDC-GBP,0.744700,50000.000000,0.744700,0.0,11-05-2021
...,...,...,...,...,...,...
102,ETH-USDT,3789.500000,1478.420732,3744.260000,NaN,01-03-2022
103,MATIC-USD,2.484000,549.241414,2.458000,NaN,01-03-2022
104,SUSHI-USD,8.916000,137.196345,8.513000,NaN,01-03-2022
105,DAI-USD,0.999900,10000.000000,0.999900,NaN,01-03-2022
106,NEAR-USDT,0.000000,0.000000,0.000000,NaN,01-03-2022

In [11]:
# filling n/a with 0
bdata.fillna(0, inplace=True)

In [12]:
bdata['last_trade_price'].dtypes

dtype('float64')

In [13]:
# bdata.loc[bdata.symbol == 'XLM-EUR', :]

In [14]:
# getting list of symbols
df= bdata['symbol']
df = df.drop_duplicates()
len(df)

107

In [15]:
# creating a loop for filling the 'difference' column using loc in the symbol column then append into a dataframe
d=[]
for i in df:
    c = pd.DataFrame(bdata.loc[bdata.symbol == i, :])
    c['difference']=(c.last_trade_price.diff(1)).round(decimals=5)
    c['difference'] = c['difference'].astype(float)


    c[['%_difference']] = c[['difference']].pct_change().round(decimals=5)
    c['%_difference'] = c['%_difference'].astype(float)
    d=pd.DataFrame(d.append(c))

In [16]:
c

,symbol,price_24h,volume_24h,last_trade_price,difference,date,%_difference
106,NEAR-EUR,0.0,0.0,0.0,NaN,12-17-2021,NaN
99,NEAR-EUR,0.0,0.0,0.0,0.0,12-18-2021,NaN
99,NEAR-EUR,0.0,0.0,0.0,0.0,12-19-2021,NaN
99,NEAR-EUR,0.0,0.0,0.0,0.0,12-20-2021,NaN
99,NEAR-EUR,0.0,0.0,0.0,0.0,12-21-2021,NaN
99,NEAR-EUR,0.0,0.0,0.0,0.0,12-22-2021,NaN
99,NEAR-EUR,0.0,0.0,0.0,0.0,12-23-2021,NaN
99,NEAR-EUR,0.0,0.0,0.0,0.0,12-26-2021,NaN
99,NEAR-EUR,0.0,0.0,0.0,0.0,12-27-2021,NaN
99,NEAR-EUR,0.0,0.0,0.0,0.0,12-28-2021,NaN
99,NEAR-EUR,0.0,0.0,0.0,0.0,12-29-2021,NaN
99,NEAR-EUR,0.0,0.0,0.0,0.0,12-30-2021,NaN
99,NEAR-EUR,0.0,0.0,0.0,0.0,12-31-2021,NaN
99,NEAR-EUR,0.0,0.0,0.0,0.0,01-01-2022,NaN
99,NEAR-EUR,0.0,0.0,0.0,0.0,01-03-2022,NaN

In [17]:
# filling n/a with 0
d.fillna(0, inplace=True)
d.reset_index(drop=True, inplace=True)

In [18]:
d= d.reindex(columns=['symbol', 'price_24h', 'volume_24h', 'last_trade_price', 'difference', '%_difference', 'date' ])
d

,symbol,price_24h,volume_24h,last_trade_price,difference,%_difference,date
0,ALGO-BTC,0.000031,223.638922,0.00003,0.0,0.0,11-05-2021
1,ALGO-BTC,0.000030,156.156380,0.00003,-0.0,0.0,11-06-2021
2,ALGO-BTC,0.000030,0.000000,0.00003,0.0,0.0,11-07-2021
3,ALGO-BTC,0.000028,1707.329433,0.00003,0.0,0.0,11-08-2021
4,ALGO-BTC,0.000029,204.832462,0.00003,-0.0,0.0,11-09-2021
...,...,...,...,...,...,...,...
5487,NEAR-EUR,0.000000,0.000000,0.00000,0.0,0.0,12-29-2021
5488,NEAR-EUR,0.000000,0.000000,0.00000,0.0,0.0,12-30-2021
5489,NEAR-EUR,0.000000,0.000000,0.00000,0.0,0.0,12-31-2021
5490,NEAR-EUR,0.000000,0.000000,0.00000,0.0,0.0,01-01-2022
5491,NEAR-EUR,0.000000,0.000000,0.00000,0.0,0.0,01-03-2022

In [19]:
d = d.replace([np.inf, -np.inf], 0)

In [20]:
d.to_csv('out_.csv')