In [29]:
# Dependencies & set up
import pandas as pd
import numpy as np

In [30]:
# Getting fata from csv files
d1 = 'blockchain_11-05-2021.csv'
d2 = 'blockchain_11-06-2021.csv'
d3 = 'blockchain_11-07-2021.csv'
d4 = 'blockchain_11-08-2021.csv'
d5 = 'blockchain_11-09-2021.csv'
d6 = 'blockchain_11-10-2021.csv'
d7 = 'blockchain_11-11-2021.csv'
d8 = 'blockchain_11-12-2021.csv'
d9 = 'blockchain_11-13-2021.csv'
d10 = 'blockchain_11-15-2021.csv'
d11 = 'blockchain_11-16-2021.csv'
d12 = 'blockchain_11-17-2021.csv'
d13 = 'blockchain_11-18-2021.csv'
d14 = 'blockchain_11-19-2021.csv'
d15 = 'blockchain_11-20-2021.csv'
d16 = 'blockchain_11-21-2021.csv'
d17 = 'blockchain_11-22-2021.csv'
d18 = 'blockchain_11-23-2021.csv'
d19 = 'blockchain_11-25-2021.csv'
d20 = 'blockchain_11-26-2021.csv'
d21 = 'blockchain_11-29-2021.csv'
d22 = 'blockchain_11-30-2021.csv'

In [31]:
# Creating a list based on csv
bdata = [d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12, d13, d14, d15, d16, d17, d18, d19 ,d20, d21,d22]

In [32]:
# Creating empty list
b_data = []

# Loop for appending csv into a data frame
for file in bdata:
    b_data.append(pd.read_csv(file))

# Concat all dataframes
bdata = pd.concat(b_data, sort=False)
bdata

,symbol,price_24h,volume_24h,last_trade_price,difference,date
0,XLM-EUR,0.318070,57185.591182,0.311000,0.0,11-05-2021
1,ALGO-BTC,0.000031,223.638922,0.000030,0.0,11-05-2021
2,EFI-USDT,1.480000,3414.004740,1.499000,0.0,11-05-2021
3,XLM-BTC,0.000000,0.000000,0.000006,0.0,11-05-2021
4,USDC-GBP,0.744700,50000.000000,0.744700,0.0,11-05-2021
...,...,...,...,...,...,...
99,DOT-GBP,28.100000,143.200437,27.620000,NaN,11-30-2021
100,ETH-USDT,4451.420000,188.696599,4686.420000,NaN,11-30-2021
101,MATIC-USD,1.728000,4170.169331,1.873000,NaN,11-30-2021
102,SUSHI-USD,7.392000,738.158308,8.043000,NaN,11-30-2021
103,DAI-USD,1.001100,559.000000,0.999900,NaN,11-30-2021

In [33]:
# filling n/a with 0
bdata.fillna(0, inplace=True)

In [34]:
bdata['last_trade_price'].dtypes

dtype('float64')

In [35]:
# bdata.loc[bdata.symbol == 'XLM-EUR', :]

In [36]:
# getting list of symbols
df= bdata['symbol']
df = df.drop_duplicates()
len(df)

104

In [24]:
# creating a loop for filling the 'difference' column using loc in the symbol column then append into a dataframe
d=[]
for i in df:
    c = pd.DataFrame(bdata.loc[bdata.symbol == i, :])
    c['difference']=(c.last_trade_price.diff(1)).round(decimals=4)
    c['difference'] = c['difference'].astype(float)
    c['%_difference']=(c['difference']/100).round(decimals=4)
    c['%_difference'] = c['%_difference'].astype(float)
    d=pd.DataFrame(d.append(c))

In [25]:
c

,symbol,price_24h,volume_24h,last_trade_price,difference,date,%_difference
103,CEUR-EUR,0.00,0.000000,0.00,NaN,11-11-2021,NaN
103,CEUR-EUR,0.00,0.000000,0.00,0.00,11-12-2021,0.0000
103,CEUR-EUR,0.00,0.000000,0.00,0.00,11-13-2021,0.0000
103,CEUR-EUR,0.00,0.000000,0.00,0.00,11-15-2021,0.0000
103,CEUR-EUR,1.00,1602.427328,1.02,1.02,11-16-2021,0.0102
103,CEUR-EUR,1.03,2485.044999,1.03,0.01,11-17-2021,0.0001
103,CEUR-EUR,1.03,0.000000,1.03,0.00,11-18-2021,0.0000
56,CEUR-EUR,1.00,4.330435,1.00,-0.03,11-19-2021,-0.0003
56,CEUR-EUR,1.00,0.000000,1.00,0.00,11-20-2021,0.0000
56,CEUR-EUR,1.00,0.000000,1.00,0.00,11-21-2021,0.0000
56,CEUR-EUR,1.00,48.950050,1.00,0.00,11-22-2021,0.0000
56,CEUR-EUR,1.00,0.000000,1.00,0.00,11-23-2021,0.0000
56,CEUR-EUR,0.99,3.995005,0.99,-0.01,11-25-2021,-0.0001
56,CEUR-EUR,1.01,18.441480,1.01,0.02,11-26-2021,0.0002
56,CEUR-EUR,1.00,1426.591890,1.07,0.06,11-29-2021,0.0006
56,CEUR-EUR,1.07,0.000000,1.07,0.00,11-30-2021,0.0000

In [40]:
# filling n/a with 0
d.fillna(0, inplace=True)
d['tradable']=0

In [41]:
d

,symbol,price_24h,volume_24h,last_trade_price,difference,date,%_difference,tradable
1,ALGO-BTC,0.000031,223.638922,0.00003,0.00,11-05-2021,0.0000,0
1,ALGO-BTC,0.000030,156.156380,0.00003,-0.00,11-06-2021,-0.0000,0
1,ALGO-BTC,0.000030,0.000000,0.00003,0.00,11-07-2021,0.0000,0
1,ALGO-BTC,0.000028,1707.329433,0.00003,0.00,11-08-2021,0.0000,0
1,ALGO-BTC,0.000029,204.832462,0.00003,-0.00,11-09-2021,-0.0000,0
...,...,...,...,...,...,...,...,...
56,CEUR-EUR,1.000000,0.000000,1.00000,0.00,11-23-2021,0.0000,0
56,CEUR-EUR,0.990000,3.995005,0.99000,-0.01,11-25-2021,-0.0001,0
56,CEUR-EUR,1.010000,18.441480,1.01000,0.02,11-26-2021,0.0002,0
56,CEUR-EUR,1.000000,1426.591890,1.07000,0.06,11-29-2021,0.0006,0
56,CEUR-EUR,1.070000,0.000000,1.07000,0.00,11-30-2021,0.0000,0